:host{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 131px;
}
.heading{
  color: #9d9c9c;
  font-weight: 300;
  margin-top: 12px;
}
.logos{
  display: flex;
  flex-flow: row wrap;
  height: 55px;
  width: 785px;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 26px;
}
.logos-item--ssl{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  width: 75px;
}
.logos-item__ssl-text{
  margin-top: 12px;
}
