  <h5 class="heading">We respect your privacy and your information is 100% secure</h5>
  <div class="logos">
    <div class="logos-item">
      <img src="/assets/images/mcafee.png" alt="mcafee secure">
    </div>
    <div class="logos-item">
      <img src="/assets/images/verisign.png" alt="verisign">
    </div>
    <div class="logos-item">
      <img src="/assets/images/symantec.png" alt="symantec">
    </div>
    <div class="logos-item">
      <img src="/assets/images/geotrust.png" alt="geo trust">
    </div>
    <div class="logos-item logos-item--ssl">
      <img src="/assets/images/ssl.png" alt="">
      <img class="logos-item__ssl-text" src="/assets/images/ssl-text.png" alt="ssl">
    </div>
  </div>
