:host{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.heading{
  font-weight: 300;
  margin-top: 16px;
  font-size: 16px;
  color: #9d9c9c;
  text-align: center;
}
.logos{
  width: 100%;
  max-width: 785px;
  margin: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.logos-item{
  height: 70px;
  margin: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-item--ssl{
  justify-content: space-around;
}
.logos-item__ssl-text{
  margin-top: 6px;
  margin-left: 6px;
}
