<div class="container">

  <div class="head-container">
    <app-top-bar></app-top-bar>
    <div class="center-wrapper">
      <div class="greeting greeting--ps">
        <ng-container i18n="@@beOneOf">
          {{ 'be one of' | titlecase }}
        </ng-container>
        <span class="greeting-dla" i18n="beta testers|@@betaTest">
          {{ '100 beta testers' | uppercase }}
        </span>
        <ng-container i18n="@@toProfitFrom">
          {{ 'to profit from the' | titlecase }}
        </ng-container>
        <span class="greeting-dla" i18n="dla|name of app@@dla">
          {{ 'dubai lifestyle app' | uppercase }}
        </span>
      </div>
      <div class="video-wrapper video--ps">
        <div class="video"></div>
      </div>
      <div class="signup-wrapper signup-wrapper--ps">
        <app-pre-signup></app-pre-signup>
      </div>
      <app-security>
        <span [style.color]="'#fefefe'" i18n="security|@@security">
          We respect your privacy and your information is 100% secure
        </span>
      </app-security>
    </div>
  </div>

  <div class="body-container">
    <div class="center-wrapper">

<!-- seo-and-team -->
      <section class="section section--seo-and-team">
        <h2 class="seo-name" i18n="@@meetCeo">Meet Scott Hathaway</h2>
        <div class="ceo-details">
          <ng-container i18n="@@ceoDetails">CEO & founder</ng-container>,
          <ng-container i18n="dla|name of app@@dla">
            {{ 'dubai lifestyle app' | uppercase }}
          </ng-container>
        </div>
        <div class="seo-photo-frame">
          <img class="seo-photo"
               src="/assets/images/seo.jpg"
               i18n-title="ceo name| The name of ceo@@ceoName"
               title="Scott Hathaway">
        </div>
        <div class="text-block">
          <div class="text-block__line text-block--ps">
            <ng-container i18n>If you haven’t yet heard, the</ng-container>
            <span class="dla dla--ps" i18n="dla|name of app@@dla">
              {{'dubai lifestyle app' | uppercase}}
            </span>
            <ng-container i18n>
              has just launched internationally and we’re looking for
            </ng-container>
            <span class="foxy-bold foxy-bold--ps" i18n="beta testers|@@betaTest">
              100 beta testers
            </span>
            <ng-container i18n>to make profits of over</ng-container>
          </div>
          <div class="text-block__line">
            <span class="dolar">$</span>
            <span class="dla dla--sum">7000</span>
            <span class="dolar" i18n>a day</span>
          </div>
          <div class="text-block__line text-block--ps">
            <ng-container i18n>
              Watch the video now to see how you can join us -
            </ng-container>
            <span class="foxy-bold" i18n="free|@@free">{{'free!' | uppercase}}</span>
          </div>
          <app-dla-team></app-dla-team>
        </div>
      </section>
<!-- seo-and-team end -->

<!-- comments -->
      <section class="section section--comments">
        <h2 class="comments-title" i18n="comments title|@@pepleSaying">
          What People Are Saying
        </h2>
        <app-comments></app-comments>
      </section>
<!-- comments end -->
    </div>
  </div>

  <div class="bottom-container">
    <div class="center-wrapper">
      <div class="greeting greeting--ps-bottom">
        <ng-container i18n>
          Enter your full name and email address in the form below to get immediate
        </ng-container>
        <span class="greeting-dla" i18n="free|@@free">
          {{ 'free' | uppercase }}
        </span>
        <ng-container i18n>
          access to the
        </ng-container>
        <span class="greeting-dla" i18n="dla|name of app@@dla">
          {{ 'dubai lifestyle app' | uppercase }}
        </span>
      </div>
      <div class="signup-wrapper signup-wrapper--ps">
        <app-pre-signup></app-pre-signup>
      </div>
      <app-security>
        <span [style.color]="'#fefefe'" i18n="security|@@security">
          We respect your privacy and your information is 100% secure
        </span>
      </app-security>
      <div class="epilog" i18n="epilog|@@epilog">
        Binary options present a significant opportunity for you to make serious earnings, but like any investment, they present an element of risk. Potential loss of full of partial funds should be considered at all times before making any trade. We urge you to explore individual tax liability laws in your country of residence, and recommend reading our Terms of Service for more information. Please note: It is illegal under U.S. law to solicit the purchase and sale of commodity options unless explicitly listed for trading on a CFTC exchange or legally exempt.
      </div>
      <ul class="menu">
        <li class="menu__item" i18n="terms|@@terms">Terms</li>
        <li class="menu__item" i18n="privacy|@@privacy">Privacy</li>
        <li class="menu__item menu__item--last" i18n="support|@@support">
          Support
        </li>
      </ul>
    </div>
  </div>

</div>
