.box{
  max-width: 882px;
  width: 100%;
  margin: 18px 0 27px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.input{
  height: 76px;
  flex: 1 1 228px;
}

.input--margin-l{
  margin-left: 17px;
}

.error-wrapper{
  padding-left: 2rem;
  box-sizing: border-box;
  flex-flow: row nowrap;
}
.error-block{
  width: 50%;

}
