.container{
  width: 100%;
  height: 100%;
}

.head-container,
.body-container,
.bottom-container{
  width: 100%;
}

.head-container{
  /* height: 569px; */
  height: content;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-position: left -18px top -178px;
  background-size: 2438px 1435px;
}

.body-container{
  height: 4000px;
  width: 100%;
}

.center-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* greeting */
.greeting{
  text-shadow: 0 0 13px rgba(255, 255, 255, 0.9);
  color: #ffffff;
  font-family: 'Khand', sans-serif;;
  font-size: 60px;
  font-weight: 300;
  line-height: 82px;
  text-align: center;
}
.greeting-dla{
  /* font-family: 'Khand - Bold', sans-serif; */
  font-weight: 700;
}
.greeting-wt{
  /* Text style for "Welcome To" */
  font-family: 'Khand Light', sans-serif;;
  font-weight: 300;
}
/* greeting end */

.video-form-block{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 1040px;
  height: 419px;
}
.video{
  width: 688px;
  height: 395px;
  /* margin-bottom: 25px; */
  background-color: #000000;
}
.signup-wrapper{
  width: 330px;
  display: flex;
  margin-bottom: 24px;
}

.section{
  border-bottom: 1px solid #dbdbdb;
  width: 1040px;
  padding-top: 24px;
}

.text-block{
  font-family: "Roboto Condensed";
  color: #494949;
  font-size: 27px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
  margin-top: 10.3px;
}
.text-block__line{
  line-height: 30px;
}
.text-block__line--last{
  margin-bottom: 24px;
}
.text-block__line--des-crazy{
  line-height: 19px;
}
.dla--sum{
  font-size: 68px;
  line-height: 92px;
}
.dolar{
  color: #5e5d5d;
  font-family: "Roboto Condensed";
  font-size: 68px;
  font-weight: 300;
}
.foxy-bold--big{
  font-size: 30px;
  line-height: 51px;
}

@media screen and (max-width: 1200px) {
  .video-form-block{
    width: 689px;
    height: 720px;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .signup-wrapper{
    height: 273px;
    width: 674px;
  }
}
