<div class="container">

  <div class="head-container">
    <app-top-bar></app-top-bar>
    <div class="center-wrapper">
      <div class="greeting">
        {{ 'welcome to the' | titlecase }}
        <span class="greeting-dla">{{ 'Dubai Lifestyle App' | uppercase }}</span>
        {{ 'members' | titlecase }}
      </div>
      <div class="video-form-block">
        <div class="video"></div>
        <div class="signup-wrapper">
          <app-signup [is-top]="true" [is-bottom]="false"></app-signup>
        </div>
      </div>
    </div>
  </div>

  <div class="body-container">
    <div class="center-wrapper">
      <section class="section section--security">
        <app-security></app-security>
      </section>
      <section class="section section--prefase">
        <div class="text-block">
          <div class="text-block__line">
            Hi! The entire team at the
            <span class="dla">{{'dubai lifestyle app' | uppercase}}</span>
            App is thrilled you’ve made it into the
            <span class="foxy-bold">{{'member’s area.' | uppercase}}</span>
          </div>
          <div class="text-block__line">
            You’re only one step away from officially becoming a beta tester and raking in over
          </div>
          <div class="text-block__line">
            <span class="dolar">$</span><span class="dla dla--sum">7,183.82</span>
          </div>
          <div class="text-block__line text-block__line--des-crazy">
            in profits each and
          </div>
          <div class="text-block__line">
            <span class="foxy-bold foxy-bold--big">{{'every single day' | uppercase}}</span>
          </div>
        </div>
        <div class="text-block">
          <div class="text-block__line">
            Ready to secure your spot? Watch the video and fill out the form right now to get your
          </div>
          <div class="text-block__line text-block__line--last">
            <span class="foxy-bold">{{'free copy' | uppercase}}</span>
            of the
            <span class="dla">{{'dubai lifestyle app' | uppercase}}</span>
            activated.
          </div>
          <app-dla-team></app-dla-team>
        </div>
      </section>
      <section class="section section--instruction">
      </section>
      <section class="section section--benefit">

      </section>

      <section class="section section--accounts">

      </section>

      <section class="section section--questions">

      </section>
    </div>
  </div>

  <div class="bottom-container">
    <div class="center-wrapper">

    </div>
  </div>

</div>
