<div class="container">

  <div class="head-container">
    <app-top-bar></app-top-bar>
    <div class="center-wrapper">
      <div class="greeting">
        {{ 'welcome to the' | titlecase }}
        <span class="greeting-dla">{{ 'Dubai Lifestyle App' | uppercase }}</span>
        {{ 'members' | titlecase }}
      </div>
      <div class="video-form-block">
        <div class="video"></div>
        <div class="signup-wrapper">
          <app-signup [is-top]="true" [is-bottom]="false"></app-signup>
        </div>
      </div>
    </div>
  </div>

  <div class="body-container">
    <div class="center-wrapper">

    </div>
  </div>

  <div class="bottom-container">
    <div class="center-wrapper">

    </div>
  </div>

</div>
