:host{
  width: 100%;
}
.get-access{
  width: 100%;
  margin: 0;
  padding: 22px 5px 16px 5px;
  color: #502922;
  font-weight: 700;
  line-height: 1;
  font-family: 'Khand', sans-serif;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.67);
  border-radius: 10px;
  background-image: none;
  z-index: 1;
  position: relative;
  outline: none;
  cursor: pointer;
}
.get-access:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #ffae00;
    background-image: -webkit-linear-gradient(top, #ffd884, #ffba26 50%, #ffae00 51%);
    background-image: linear-gradient(to bottom, #ffd884, #ffba26 50%, #ffae00 51%);
    left: 7px;
    right: 7px;
    top: 7px;
    bottom: 7px;
    border-radius: 7px;
}


.get-access--bottom{
  height: 132px;
  max-width: 785px;
  font-size: 80px;
  margin-bottom: 10px;
}
.get-access--top{
  height: 85px;
  font-size: 46px;
}
.get-access--pre-signup{
  height: 132px;
  font-size: 80px;
}
