<header>
  <div class="header-item">
    <div class="header-item__number header-item__number--left">
      1
    </div>
    <div class="header-item__text header-item__text--left">
      {{ 'spot remaining'| titlecase }} in
      <img class="header-item__flag" src="assets/images/Israel-Flag.png" alt="Israel flag">
      <b class="bold"> {{ 'israel' | uppercase }} </b>
    </div>
  </div>

  <div class="header-item">
    <img class="header-item__logo" src="assets/images/logo.svg" alt="Dubai Lifestyle App">
    <h1 class="header-item__title">{{ 'dubai lifestyle app' | uppercase }}</h1>
  </div>

  <div class="header-item">
    <div class="header-item__text header-item__text--right">
      {{ 'time remaining'| titlecase }}
      {{ 'offer expires' | uppercase }}
    </div>

    <div class="header-item__number header-item__number--right"> 10:03 </div>
  </div>
</header>
