ul{
  list-style: none;
  padding-left: 0;
}

.comment__rating-wrapper{
  display: inline-block;
  position: relative;
  top: 2px;
}
.comment{
  font-size: 16px;
  font-weight: 300;
  color: #555555;
  font-family: "Roboto Condensed", sans-serif;
}
.comment__member-name{

  color: #0066c0;

}
.comment__member-status{
  color: #cc6600;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.comment__content{
  margin: 8px 0 16px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}
