<ul>
  <li class="comment" *ngFor="let member of comments">
    <div class="comment__details">
      <ng-container i18n="by|by who@@by">By </ng-container>
      <span class="comment__member-name">{{member.name}}</span>
      <ng-container i18n="on|on date@@on">on</ng-container>
      {{toDate(member.comment_date) | date}}
      <div class="comment__rating-wrapper">
        <app-stars-rater [rate]="member.rates_us" stars="5"></app-stars-rater>
    </div>
    </div>
    <div class="comment__member-status" i18n="member status| ">
      {member.status, select, verified member {verified member} other {{{member.status}} not translated yet}}
      {{member.status | titlecase}}
    </div>
    <div class="comment__content">
      {{member.says}}
    </div>
  </li>
</ul>
