.container{
  width: 100%;
  height: 100%;
}

.head-container,
.body-container,
.bottom-container{
  width: 100%;
}

.head-container{
  /* height: 569px; */
  height: content;
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: left -18px top -178px;
  background-size: 2438px 1435px;
}

.body-container{
  height: content;
  width: 100%;
}

.center-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* greeting */
.greeting{
  text-shadow: 0 0 13px rgba(255, 255, 255, 0.9);
  color: #ffffff;
  font-family: 'Khand', sans-serif;;
  font-size: 60px;
  font-weight: 300;
  line-height: 82px;
  text-align: center;
}
.greeting-dla{
  font-weight: 700;
}
.greeting-wt{
  /* Text style for "Welcome To" */
  font-family: 'Khand Light', sans-serif;;
  font-weight: 300;
}
/* greeting end */

.video-form-block{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 1040px;
  width: 100%;
}
.video-wrapper{
  margin-bottom: 24px;
  max-width: 688px;
  min-width: 230px;
	width: 100%;
  position: relative;
}
.video-wrapper:before{
	content: "";
	display: block;
	padding-top: 57.412790698%;
}
.video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
}
.signup-wrapper{
  width: 330px;
  display: flex;
  margin-bottom: 24px;
}

.section{
  border-bottom: 1px solid #dbdbdb;
  max-width: 1040px;
  width: 100%;
}
.section--accounts{
  border-bottom: 0;
  margin-bottom: 40px;
}

.text-block{
  font-family: "Roboto Condensed";
  color: #494949;
  font-size: 27px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
  margin-top: 10.3px;
}
.text-block__line{
  line-height: 30px;
}
.text-block__line--first{
  margin-top: 37px;
}
.text-block__line--last{
  margin-bottom: 24px;
}
.text-block__line--des-crazy{
  line-height: 19px;
}
.dla--sum{
  font-size: 68px;
  line-height: 92px;
}
.dolar{
  color: #5e5d5d;
  font-family: "Roboto Condensed";
  font-size: 68px;
  font-weight: 300;
}
.foxy-bold--big{
  font-size: 30px;
  line-height: 51px;
}

.three-ss{
  font-family: Khand;
  font-weight: 700;
}

ol.dubai-list {
  list-style-type: none;

  margin: 0;
  margin-left: 90px;
  padding: 0;

  counter-reset: li-counter;
}
ol.dubai-list > li{
  position: relative;
  margin-bottom: 32px;
  padding-left: 18px;
  min-height: 89px;
  font-family: "Roboto Condensed";
  font-size: 26px;
  line-height: 33px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
ol.dubai-list > li:before {
  position: absolute;
  top: 0;
  left: -88px;
  width: 83px;
  height: 83px;

  font-family: 'Just Another Hand', cursive;
  font-size: 60px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;
  color: var(--dark-brown);

  border: 3px solid var(--foxy);
  border-radius: 50%;
  background-color: white;
  content: counter(li-counter);
  counter-increment: li-counter;
}

.benefit-block-1{
  max-width: 783px;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

.benefit-block-2{
  display: flex;
  flex-flow: row wrap;
  max-width: 1040px;
  margin: 0 auto 24px auto;
  justify-content: space-between;
}
.benefit-block-2__item{
  max-width: 500px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.benefit-block-2__text{
  max-width: 360px;
}
.benefit-paragraph{
  color: #363636;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  font-weight: 300;
}
.benefit-image-wrapper{
  width: 122px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
.benefit-image{}

.qurstions-heading{
  color: var(--light-black);
}

.question-wrapper{
  border-top: 1px solid #eeeeee;
}

.question{
  color: #3c3c3c;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.8;
  font-family: "Roboto Condensed";
  cursor: pointer;
}
.question--answered{
  color: #ee8101;
  font-family: "Roboto Condensed";
  font-weight: 700;
}
.answer{
  color: #3c3c3c;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 30px 45px;
}

.bottom-container{
  height: content;
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: left -18px top -178px;
  background-size: 2438px 1435px;
}
.epilog{
  margin-top: 15px;
  max-width: 837px;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.menu{
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  font-family: Roboto;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 30px 0 30px 0;
}
.menu__item{
  border-right: 1px solid white;
  padding-right: 15px;
  margin-left: 15px;
  line-height: 1;
  cursor: pointer;
}
.menu__item--last{
  border: none;
}
.bottom-signup-wrapper{
  max-width: 785px;
  width: 100%;
}
