:host{
  width: 100%;
}

.form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.block{
  width: 100%;
}

.line{
  margin-bottom: 12px;
  display: flex;
}
.input--code{
  width: 62px;
}
.input--phone{
  margin-left: 8px;
}

.code-phone-wrapper{
  display: flex;
}
.error-wrapper{
  width: 100%;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.error-wrapper--upper{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.error-block{

  text-align: center;
}
.error{
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
.ng-dirty.ng-touched.ng-invalid{
  border-color: red;
}
