.block{
  width: 330px;
}

.line{
  margin-bottom: 12px;
  display: flex;
}
.input--code{
  flex: 0 0 62px;
}
.input--phone{
  flex: 0 0 220px;
  margin-left: 8px;
}

.input--very-narrow{
  width: 80px;
  margin-right: 10px;
}
.input--narrow{

}

@media screen and (max-width: 1200px) {

}
