<form action="index.html" method="post">
  <div class="block">
    <div class="line">
      <input class="input" type="text">
    </div>
    <div class="line">
      <input class="input" type="text">
    </div>
  </div>

  <div class="block">
    <div class="line">
      <input class="input" type="email" name="" value="">
    </div>
    <div class="line">
      <input class="input" type="password" name="" value="">
    </div>
  </div>

  <div class="block">
    <div class="line">
      <input class="input input--very-narrow" type="number" placeholder="49">
      <input class="input input--narrow" type="tel" >
    </div>
  </div>

  <button class="get-access" type="submit" [disabled]="true" >get free access</button>
</form>
